@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray: rgba(203, 204, 206, 0.479);
  --light-gray: #f2f2f2;
}

* {
  @apply box-border;
}

#root {
  @apply w-full;
}

.loading-indicator {
  @apply flex flex-col items-center justify-center py-2;
}
.spinner {
  @apply w-8 h-8 animate-spin rounded-[50%] border-t-[gray] border-4 border-solid border-[var(--light-gray)];
}

progress::-webkit-progress-value {
  @apply bg-[gray];
}
progress::-webkit-progress-bar {
  @apply bg-[var(--gray)];
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
